{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "__DEV__": true,
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "browser": true,
    "by": true,
    "element": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-console": ["warn", { allow: ["warn", "error"] }],
    "space-before-function-paren": 0
  }
}
