{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "import/no-useless-path-segments": "warn",
    "prefer-destructuring": ["warn", {
      "array": false,
      "object": true
    }]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": {
        "mocha": true
      }
    },
    {
      "files": ["cypress/**/*.spec.js"],
      "plugins": ["cypress"],
      "env": {
        "cypress/globals": true
      }
    }
  ]
}
