{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }]
  }
}
