$global-guttering: 2.4rem;

*, *:before, *:after {
    box-sizing: border-box
}

html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    height: 100%;
    widows: 100%;
}

body {
    background-color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF;
}

label {
    display: block;
    margin-bottom: .8rem;
    font-size: 1.4rem;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $global-guttering/2;
    font-weight: 500;
}

.container {
    display: block;
    margin: auto;
    max-width: 35em;
    padding: $global-guttering;
}

.section {
    background-color: #FFFFFF;
    padding: $global-guttering;
    color: #333;
}

.choices {
    margin-bottom: $global-guttering;
    position: relative;
}

.choices__inner {
    background-color: mix(#000000, #FFFFFF, 2.5%);
    padding: .75rem .75rem .375rem;
    border: 1px solid #DDDDDD;
    border-radius: .25rem;
    font-size: 1.4rem;
    &:focus { 
        outline: 1px solid #00BCD4;
        outline-offset: -1px;
    }
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.choices__item {}
.choices__item--selectable { cursor: pointer; }

.choices__list--options {}

.choices__list--items {
    display: inline;
    .choices__item {
        display: inline-block;
        border-radius: 2rem;
        padding: .4rem 1rem;
        font-size: 1.2rem;
        margin-right: .375rem;
        margin-bottom: .375rem;
        background-color: #00BCD4;
        border: 1px solid darken(#00BCD4, 2.5%);
        color: #FFFFFF;
        cursor: pointer;
        &.is-selected { background-color: darken(#00BCD4, 5%); }
    }
}

.choices__list--dropdown {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-top: -1px;
    display: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    .choices__item {
        padding: 1rem;
        font-size: 1.4rem;
        &:hover {
            background-color: mix(#000000, #FFFFFF, 2.5%);
        }
    }
    .is-active { display: block; }
}

.choices__input {
    background-color: mix(#000000, #FFFFFF, 2.5%);
    font-size: 1.4rem;
    padding: 0;
    margin-bottom: .5rem;
    display: inline-block;
    vertical-align: baseline;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: .4rem 0 .4rem .2rem;
    &:focus { outline: 0; }
}