*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html, body {
  margin: 0;
  height: 100%;
  widows: 100%; }

body {
  background-color: #FAFAFA;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
  color: #222222;
  padding: 2.4rem; }

label {
  display: block;
  margin-bottom: .8rem; }

.choices {
  margin-bottom: 2.4rem;
  position: relative; }

.choices__inner {
  background-color: #FFFFFF;
  padding: .75rem .75rem .375rem;
  border: 1px solid #DDDDDD;
  border-radius: .25rem;
  font-size: 1.4rem; }
  .choices__inner:focus {
    outline: 1px solid #00BCD4;
    outline-offset: -1px; }

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: inline; }

.choices__input {
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: .5rem;
  display: inline-block;
  vertical-align: baseline;
  border: 0;
  border-radius: 0;
  max-width: 100%; }
  .choices__input:focus {
    outline: 0; }

.choices__item {
  display: inline-block;
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-size: 1.4rem;
  margin-right: .375rem;
  margin-bottom: .375rem;
  background-color: #00BCD4;
  text-shadow: 0px 1px 0px #008fa1;
  border: 1px solid #00a5bb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  cursor: pointer; }
  .choices__item.is-selected {
    background-color: #00a5bb; }
